<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
</head>

<body class="body">
<div>
    <img class="grid" src="{{ url_for('static', filename='sprites/grid.png') }}" alt="">
</div>

<div class="Kim">
    <img class="Kim_img" src="{{ url_for('static', filename='sprites/Kim.png') }}" alt="">
</div>

<div class="log_in_form">
    <div class="logo_back">
        <img src="{{ url_for('static', filename='sprites/logo_back.png') }}" alt="" width="800" height="auto">
    </div>

    <div class="Name">EducationAI</div>
</div>

    <img class="login_back_img" src="{{ url_for('static', filename='sprites/login_back.png') }}" alt="" width="623" height="417">

    <form method="POST">
        <label for="mail"></label> <input class="e-mail_box" id="mail" style="font-size: 21px" name="user_email" type="email" placeholder="e-mail">
        <label for="password"></label> <input class="password_box" id="password" style="font-size: 21px" name="user_password" type="password" placeholder="password">
        <label for="user_name"></label> <input class="username_box" id="user_name" style="font-size: 21px" name="user_name" type="text" placeholder="name">

        <button  type="submit" id="register" class="register_btn">Sign up</button>
    </form>

</body>
</html>